<%= simple_form_for @program, :html => { :class => 'form-horizontal'} do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Program</legend>

    <%= f.input :name %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', program_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>