<h1>Program '<%= @program.name %>'</h1>

<h3> Respondents </h3>
<table class="table table-condensed table-bordered">
   <thead>
      <tr>
         <th>Respondent Name</th>
      </tr>
   </thead>
   <tbody>
      <%= render @respondents || "There are no respondents yet" %>
   </tbody>
</table>

<h3> Questions </h3>
<table class="table table-condensed table-bordered">
   <thead>
      <tr>
         <th>Question Text</th>
      </tr>
   </thead>
   <tbody>
      <%= render @questions || "There are no questions yet" %>
   </tbody>
</table>

<h3> Rounds </h3>
<table class="table table-condensed table-bordered">
   <thead>
      <tr>
         <th>Round number</th>
      </tr>
   </thead>
   <tbody>
      <%= render @rounds || "There are no rounds yet" %>
   </tbody>
</table>

<%= debug_enable false, @program, @respondents, @questions %>
